@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap");

body {
  font-family: "Kumbh Sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
