.page_con {
  min-height: 100vh;
  width: 100%;
  background-color: #dbece9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email_con {
  width: 900px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.top_con {
  width: 100%;
  flex: 1;
  background-color: #002945;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.top_con h1,
.top_con p {
  color: white;
  padding: 10px;
}

.bottom_con {
  width: 100%;
  flex: 2;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
}
.form_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.input {
  outline: none;
  border: none;
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 0;
  font-size: 14px;
}
.btn {
  border: none;
  outline: none;
  padding: 12px 0;
  color: #002945;
  background-color: #ca91c2;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}
.login {
  color: #002945;
  margin-top: 10px;
}
.login span {
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.error {
  width: 370px;
  color: orangered;
  margin: 5px 0;
  font-size: 14px;
  padding-left: 5px;
}

/**
MESSAGE BANNERS
**/
.message {
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: green;
  color: white;
  margin: 5px 0;
  font-size: 14px;
}
.errorMsg {
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: #9b2226;
  color: white;
  margin: 5px 0;
  font-size: 14px;
}
.load {
  font-size: 14px;
  color: #002945;
  padding: 15px;
}

/***
  MOBILE VERSION
***/

@media (max-width: 615px) {
  .email_con {
    min-height: 100vh;
    width: 100%;
    box-shadow: none;
  }
  .input,
  .inputIcons,
  .form_container,
  .btn,
  .message,
  .errorMsg,
  .error {
    width: 100%;
  }
  .btn {
    border-radius: 10px;
  }

  .bottom_con,
  .top_con {
    border-radius: 0;
    width: 100%;
    padding: 15px;
  }
}
